#Ignore bundler config.
/.bundle

#Igonre the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

#Igonre all logfiles and temfiles.
/log/*.log
/tmp

#Igonre other unneeded files.
database.yml
doc/
*.swp
*~

.project
.DS_Store
.idea
.secret